<div id="<%= dom_id event %>">
  <p>
    <strong>Title:</strong>
    <%= event.title %>
  </p>

  <p>
    <strong>Date range:</strong>
    <%= event.date_range.strftime("%B %d, %Y") %>
  </p>

</div>
